.typography {
  &__title {
    letter-spacing: 0.9rem;
    font-size: 5.4rem;
    font-weight: 300;
  }

  &__title-2 {
    letter-spacing: 0.2rem;
    font-size: 4.1rem;
    font-weight: 300;
    margin-bottom: 2.6rem;

    &--bold {
      letter-spacing: 0.1rem;
      font-weight: 900;

      @media only screen and (max-width: $screen-min-sm) {
        font-weight: 700;
      }
    }

    &--justify-center {
      text-align: center;
    }

    @media only screen and (max-width: $screen-min-sm) {
      font-size: 3.7rem;
      letter-spacing: 0.13;
    }
  }

  &__title-3 {
    font-size: 3.3rem;
    font-weight: 300;
  }

  &__title-4 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2.1rem;
  }

  &__title-5 {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
  }

  &__paragraph {
    color: $color-black;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 0.14rem;

    &--color-grey {
      color: $color-grey;
    }

    &--color-grey-dark {
      color: $color-grey-dark;
    }

    &--color-danger {
      color: $color-danger;
    }

    &--justify-center {
      text-align: center;
    }

    &--clickable {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__label {
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-grey-dark;
  }
}
