// Dimmensions
$navbar-height: 7rem;
$section-height: calc(100vh - #{$navbar-height});

// Breakpoints
$screen-min-sm: 480px; //phone
$screen-min-md: 768px; //tablet
$screen-min-lg: 1024px; //pc
$screen-min-xlg: 1366px; // lg screen

// Colors
$color-white: hsl(0, 0%, 96%);
$color-black: hsl(0, 0%, 0%);

$color-primary: hsl(120, 72%, 50%);
$color-primary-light: hsl(120, 70%, 60%);
$color-primary-dark: hsl(120, 70%, 30%);

$color-secondary: hsl(210, 71%, 50%);
$color-secondary-light: hsl(210, 71%, 60%);
$color-secondary-dark: hsl(210, 71%, 30%);

$color-grey: hsl(0, 0%, 60%);
$color-grey-light: hsl(0, 0%, 85%);
$color-grey-dark: hsl(0, 0%, 30%);
