.button {
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.4rem 0.2rem;
  color: var(--color-grey-dark);
  border: 2px solid var(--color-primary);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  outline: none;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-grey-light);
}

.link {
  border: none;
  border-bottom: 1px solid var(--color-grey-dark);
  border-radius: 0;
  padding: 0.1rem 0.2rem;
}

.link:hover {
  background-color: transparent;
  color: var(--color-primary);

  border-bottom: 1px solid var(--color-primary);
}

.icon_wrapper {
  margin: 0 0.4rem;
}

/*  MODIFIERS */

.no-border {
  border: none;
  color: var(--color-grey);
  padding: 0;
  margin: 0;
}

.no-border:hover {
  background-color: transparent;
  color: var(--color-primary);
}

.font-size-lg {
  font-size: 2.1rem;
}

.full-width {
  width: 100%;
}

.font-light {
  color: var(--color-grey-light);
}
