.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.3;
}

.input__wrapper {
  width: 100%;
  border-bottom: 1px solid var(--color-grey-dark);
  display: flex;
}

.icon__wrapper {
  background-color: var(--color-grey-dark);
  color: var(--color-grey-light);
  font-size: 1.3rem;
  padding: 0.3rem;
  border-top-left-radius: 11px;
}

.input {
  border: none;
  width: 100%;
  font-size: inherit;
  padding: 0 0.4rem;
}

.input:focus {
  outline: none;
}

.input__wrapper:focus-within {
  border-bottom: 1px solid var(--color-primary);
}

.input__wrapper:focus-within .icon__wrapper {
  background-color: var(--color-primary);
}

.input__wrapper:hover {
  border-bottom: 1px solid var(--color-primary);
}

.input__wrapper:hover .icon__wrapper {
  background-color: var(--color-primary);
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.label {
  color: var(--color-grey-dark);
  font-size: 1.1rem;
  font-weight: 700;
}

.date {
  font-size: 1.1rem;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid var(--color-grey-dark);
  padding: 0.3rem 0.1rem;
  background-color: transparent;
  color: var(--color-grey);
}

.date:focus,
.date:hover {
  outline: none;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.date::-webkit-calendar-picker-indicator {
  background-color: var(--color-primary);
  color: var(--color-grey-light);
  border-radius: 50%;
  cursor: pointer;
}

/* MODIFIERS */

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}
