.box {
  @include box-white;
  padding: 2.1rem;

  &--rounded {
    border-radius: 0.6rem;
  }

  &--color-transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &--color-grey {
    background-color: $color-grey-light;
  }
}
