.form {
  width: 100%;

  &__group {
    width: 100%;
    margin: 2.3rem 0;
  }

  &__label {
  }

  &__input {
    outline: none;
    width: 100%;
    border: none;
    line-height: 2.4rem;
    background-color: transparent;
    font-size: 2rem;
    color: $color-grey-dark;
    padding: 0.6rem;

    &--invalid {
      @extend .form__input;
      color: $color-danger;

      &::placeholder {
        color: $color-danger;
      }
    }
  }

  &__wrapper {
    color: $color-grey-dark;
    font-size: 2rem;
    background-color: $color-grey-light;
    border-top-left-radius: 0.7rem;
    padding: 0.7rem;
  }

  &__box {
    margin: 0.7rem 0;
    border-bottom: 1.3px solid $color-grey;

    &:focus-within {
      border-bottom: 1.3px solid $color-primary;

      .form__wrapper {
        color: $color-primary;
      }
    }
  }
}
