.navbar {
  &__nav {
    width: 100%;
    height: $navbar-height;
    padding: 3rem 2.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    @include box-white;
  }

  &__item {
    padding: 0 2.7rem;
  }

  &__link {
    color: $color-black;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: $color-primary;
    }

    &--active {
      border-bottom: 0.2rem solid $color-primary;
    }
  }

  &__content-pusher {
    height: calc(#{$navbar-height});
  }
}
