@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato";
}

:root {
  --color-grey: hsl(0, 0%, 76%);
  --color-grey-dark: hsl(0, 0%, 41%);
  --color-grey-light: hsl(0, 0%, 97%);

  --color-dark: hsl(0, 0%, 15%);

  --color-primary: hsl(190, 60%, 50%);

  --color-secondary: hsl(260, 80%, 27%);

  --color-danger: hsl(0, 100%, 55%);
  --color-danger-dark: hsl(0, 100%, 35%);
  --color-danger-light: hsl(0, 100%, 71%);

  --breakpoint: 400px;

  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
